<header
  class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#EEEEEE] px-52 py-5"
>
  <div class="flex items-center gap-4 text-black">
    <h2 class="text-black text-lg font-bold leading-tight tracking-[-0.015em]">
      Horarios UD
    </h2>
  </div>
  <div
  class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
  style="
    background-image: url('https://cdn.usegalileo.ai/stability/5e894d9a-3b89-46aa-8cd0-838422e87d66.png');
  "
></div>
</header>
