<header
  class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#EEEEEE] px-52 py-5"
>
  <div class="flex items-center gap-4 text-black">
    <h2 class="text-black text-lg font-bold leading-tight tracking-[-0.015em]">
      Horarios UD
    </h2>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-black text-sm font-medium leading-normal cursor-pointer" routerLink="/students-dashboard">Home</a>
      <a class="text-black text-sm font-medium leading-normal cursor-pointer" routerLink="/students-dashboard/register-course">Courses</a>
      <a class="text-black text-sm font-medium leading-normal cursor-pointer">Schedules</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
