
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
    <h1 class="text-black text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">Bienvenido a Horarios UD</h1>
    <p class="text-black text-base font-normal leading-normal pb-3 pt-1 px-4">
      Horarios UD es una universidad descentralizada. Puedes usar tu billetera de criptomonedas para inscribirte en clases y manejar tus horarios academicos. Conecta tu billetera para comenzar.
    </p>
    <div class="flex flex px-4 py-3">
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 flex-1 bg-black text-[#FFFFFF] gap-2 pl-4 text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <div class="text-[#FFFFFF]" data-icon="Wallet" data-size="20px" data-weight="regular">
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
            <path
              d="M216,72H56a8,8,0,0,1,0-16H192a8,8,0,0,0,0-16H56A24,24,0,0,0,32,64V192a24,24,0,0,0,24,24H216a16,16,0,0,0,16-16V88A16,16,0,0,0,216,72Zm0,128H56a8,8,0,0,1-8-8V86.63A23.84,23.84,0,0,0,56,88H216Zm-48-60a12,12,0,1,1,12,12A12,12,0,0,1,168,140Z"
            ></path>
          </svg>
        </div>
        <span class="truncate" (click)="connectWallet()">Conectar Billetera</span>
      </button>
    </div>
    <div class="px-4">
      <a class="text-base text-black underline " (click)="navigateToSignUp()">No estas registrado? Click y registrate en el sistema</a>
    </div>
  </div>
</div>