<div class="px-40 flex flex-1 justify-center py-5">
    <div
      class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1"
    >
      <h3
        class="text-black tracking-light text-2xl font-bold leading-tight px-4 text-center pb-2 pt-5"
      >
        Bienvenido a Horarios UD
      </h3>
      <p
        class="text-black text-base font-normal leading-normal pb-3 pt-1 px-4 text-center"
      >
        Para interactuar con nuestra universidad descentralizada, necesitarás
        conectar una billetera
      </p>
      <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
        <label class="flex flex-col min-w-40 flex-1">
          <p class="text-black text-base font-medium leading-normal pb-2">
            Tu dirección de billetera
          </p>
          <input
            [(ngModel)]="address"
            placeholder="0x..."
            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-black focus:outline-0 focus:ring-0 border border-[#DEDEDE] bg-[#FFFFFF] focus:border-[#DEDEDE] h-14 placeholder:text-[#6B6B6B] p-[15px] text-base font-normal leading-normal"
            value=""
          />
        </label>
        <div class="flex px-4 py-3">
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 flex-1 bg-black text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate" (click)="getAccount()">Conectar billetera</span>
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-3 p-4">
        <label
          class="flex items-center gap-4 rounded-lg border border-solid border-[#DEDEDE] p-[15px]"
        >
          <input
            [(ngModel)]="rol"
            value="0"
            type="radio"
            class="h-5 w-5 border-2 border-[#DEDEDE] bg-transparent text-transparent checked:border-black checked:bg-[image:--radio-dot-svg] focus:outline-none focus:ring-0 focus:ring-offset-0 checked:focus:border-black"
            name="a38e709d-e3a6-4990-8730-883d0fa7632f"
            checked=""
          />
          <div class="flex grow flex-col">
            <p class="text-black text-sm font-medium leading-normal">
              Estudiante
            </p>
          </div>
        </label>
        <label
          class="flex items-center gap-4 rounded-lg border border-solid border-[#DEDEDE] p-[15px]"
        >
          <input
            [(ngModel)]="rol"
            value="1"
            type="radio"
            class="h-5 w-5 border-2 border-[#DEDEDE] bg-transparent text-transparent checked:border-black checked:bg-[image:--radio-dot-svg] focus:outline-none focus:ring-0 focus:ring-offset-0 checked:focus:border-black"
            name="a38e709d-e3a6-4990-8730-883d0fa7632f"
          />
          <div class="flex grow flex-col">
            <p class="text-black text-sm font-medium leading-normal">Profesor</p>
          </div>
        </label>
      </div>
      <div class="flex px-4 py-3">
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 flex-1 bg-black text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate" (click)="signUp()">Registrar</span>
        </button>
      </div>
    </div>
  </div>
