<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <p
        class="text-black tracking-light text-[32px] font-bold leading-tight min-w-72"
      >
        Your schedule
      </p>
    </div>
    <h3
      class="text-black text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4"
    >
      This week
    </h3>
    <div class="p-4 @container">
      <div
        class="flex flex-col items-stretch justify-start rounded-xl @xl:flex-row @xl:items-start"
      >
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/067610f1-c104-4448-a1b8-7574774cab74.png');
          "
        ></div>
        <div
          class="flex w-full min-w-72 grow flex-col items-stretch justify-center gap-1 py-4 @xl:px-4"
        >
          <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
            Mon, Aug 23 - Sun, Aug 29
          </p>
          <p
            class="text-black text-lg font-bold leading-tight tracking-[-0.015em]"
          >
            Week 1
          </p>
          <div class="flex items-end gap-3 justify-between">
            <p class="text-[#6B6B6B] text-base font-normal leading-normal">
              You have 2 classes this week
            </p>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-black text-[#FFFFFF] text-sm font-medium leading-normal"
            >
              <span class="truncate">View</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <h3
      class="text-black text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4"
    >
      Upcoming
    </h3>
    <div class="p-4">
      <div class="flex items-stretch justify-between gap-4 rounded-xl">
        <div class="flex flex-[2_2_0px] flex-col gap-4">
          <div class="flex flex-col gap-1">
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Tue, Sep 6, 9:00 AM
            </p>
            <p class="text-black text-base font-bold leading-tight">
              Economics 101
            </p>
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Introduction to Microeconomics
            </p>
          </div>
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#EEEEEE] text-black text-sm font-medium leading-normal w-fit"
          >
            <span class="truncate">Join</span>
          </button>
        </div>
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/18ced16a-e47d-4865-8b08-cbe00bb21549.png');
          "
        ></div>
      </div>
    </div>
    <div class="p-4">
      <div class="flex items-stretch justify-between gap-4 rounded-xl">
        <div class="flex flex-[2_2_0px] flex-col gap-4">
          <div class="flex flex-col gap-1">
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Fri, Sep 9, 2:00 PM
            </p>
            <p class="text-black text-base font-bold leading-tight">
              Mathematics 103
            </p>
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Calculus for Business and Social Sciences
            </p>
          </div>
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#EEEEEE] text-black text-sm font-medium leading-normal w-fit"
          >
            <span class="truncate">Join</span>
          </button>
        </div>
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/a76ff201-fe2b-412b-ad19-a7ae7b2af348.png');
          "
        ></div>
      </div>
    </div>
    <div class="p-4">
      <div class="flex items-stretch justify-between gap-4 rounded-xl">
        <div class="flex flex-[2_2_0px] flex-col gap-4">
          <div class="flex flex-col gap-1">
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Mon, Sep 12, 1:00 PM
            </p>
            <p class="text-black text-base font-bold leading-tight">
              Computer Science 110
            </p>
            <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
              Programming Fundamentals
            </p>
          </div>
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#EEEEEE] text-black text-sm font-medium leading-normal w-fit"
          >
            <span class="truncate">Join</span>
          </button>
        </div>
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/ae657912-c6b1-4476-a778-56becbe8aa23.png');
          "
        ></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

