<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <p class="text-black tracking-light text-[32px] font-bold leading-tight min-w-72">
        Tu horario
      </p>
    </div>
    <h3 class="text-black text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
      Esta semana
    </h3>
    <div class="p-4 @container">
      <div class="flex flex-col items-stretch justify-start rounded-xl @xl:flex-row @xl:items-start">
        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl" style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/067610f1-c104-4448-a1b8-7574774cab74.png');
          "></div>
      </div>
    </div>
    <h3 class="text-black text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">
      Upcoming
    </h3>
    @for(item of schedules(); track item.id) {
      <div class="p-4">
        <div class="flex items-stretch justify-between gap-4 rounded-xl">
          <div class="flex flex-[2_2_0px] flex-col gap-4">
            <div class="flex flex-col gap-1">
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
                Luneas, Miercoles, Viernes 6, 9:00 AM
              </p>
              <p class="text-black text-base font-bold leading-tight">
                {{item.name}} - {{item.id}}
              </p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal">
                {{item.description}}
              </p>
            </div>
          </div>
          <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1" style="
              background-image: url('https://cdn.usegalileo.ai/sdxl10/18ced16a-e47d-4865-8b08-cbe00bb21549.png');
            "></div>
        </div>
      </div>
    }
  
  </div>
</div>
